assets/**/*.SLDPRT filter=lfs diff=lfs merge=lfs -text
assets/**/*.SLDASM filter=lfs diff=lfs merge=lfs -text
assets/**/*.obj filter=lfs diff=lfs merge=lfs -text
assets/**/*.mtl filter=lfs diff=lfs merge=lfs -text
